<div class="row px-5 py-2 pt-5">
  <div class="col-md-8 page-heading">
    <h3 class="animate-charcter">New Employee Details</h3>
  </div>
</div>

<%= render "form", employee: @employee %>
<br>
<div class= "row">
  <div class="col">
    <%= link_to "Back to employees", employees_path, class: "button-back"%>
  </div>
<div>
