<p>A user directory is a place where you store information about users and groups. User information includes the person full name, username, password, email address and other personal information. Group information includes the name of the group, the users that belong to the group, and possibly groups that belong to other groups.
</p>