<p style="color: green"><%= notice %></p>

<%= render @bill %>

<div>
  <div class="col">
    <%= button_to "Destroy this employee", @employee, method: :delete,  class: "button-delete"%>
  </div>
</div>
